/* Additional selectors for Bricks and Breakdance */
:where(html),
body.logged-in,
body.brx-body {
  color-scheme: light;

  --o-link: var(--o-indigo-7);
  --o-link-visited: var(--o-grape-7);

  --o-text-1: var(--o-gray-9);
  --o-text-2: var(--o-gray-7);

  --o-surface-1: var(--o-gray-0);
  --o-surface-2: var(--o-gray-2);
  --o-surface-3: var(--o-gray-3);
  --o-surface-4: var(--o-gray-4);

  /* Override Breakdance defaults */
  --bd-background-color: var(--o-surface-1);
  --bd-body-text-color: var(--o-text-2);
  --bd-headings-color: var(--o-text-1);

  @media (--o-HDcolor) {
    @supports (color(display-p3 0 .5 1)) {
      --o-link: color(display-p3 0 .5 1);
      --o-link-visited: color(display-p3 .6 .2 1);
    }
  }
}
